*.swp
*.ndb
test/*.out
test/CaseDistinguised
test/CustomCmdName
test/CustomType
test/DupShort
test/External
test/ManualMulti
test/NoPositional
test/PerParam
test/ReturnEmpty
test/ReturnInt
test/ReturnString
test/UserDispIdCollide
test/target
test/EarlySeq
test/SeqInt
test/Mandatory
test/MandatoryNoPos
test/ReturnNonInt
test/ListDecl
test/MultiFlag
test/SemiAutoMulti
test/FullyAutoMulti
test/AllTypes
test/RangeTypes
test/EchoResult
test/TwoNondefaultedSeq
test/TwoNondefaultedSeqSwap
test/BlockedShort
test/NoShort
test/HelpTabCols
test/out
test/Suppress
test/FancyRepeats
test/FancyRepeats2
test/OneCharLong
test/OneCharParams
test/ImplicitDefault
test/AllSeqTypes
test/Enums
test/AllSetTypes
test/HashSets
test/nimcache
test/Version
test/ResultInt
test/ReturnNonIntNoAuto
test/DetectSet
test/ParseOnly
test/QualifiedSym
test/QualifiedMulti
test/DistinctInt
test/SemiMultMult
test/MultiMulti
test/MultMultMult
test/SubScope
test/InitOb
test/InitObPtr
test/InitObRef
test/InitTup
test/UserAliases
test/SetByParse
test/OmitInHelpTable
test/StroppedParams
test/PassValues
test/PassValuesMulti
test/SpecifiedOverload
test/UserError
cligen/abbrev
cligen/dents
examples/chom
examples/cols
examples/dirq
examples/dirt
examples/du
examples/dups
examples/linect
examples/newest
examples/only
examples/rr
examples/grl
